<!--!header--><html><head><title>{title}</title><link href="templates/Classic.css" rel="stylesheet" type="text/css">{headscript}{script}</head><body bgcolor='#000000' text='#CCCCCC'><table border='1' cellpadding=5 cellspacing=0 width='100%'><tr><td colspan=2 class='pageheader'>
<table border=0 cellpadding=0 cellspacing=0 width='100%' class='noborder'><tr><td width='100%' class='noborder'><b>{title}</b></td><td align='right' class='noborder'>{motd}</td></tr></table></td></tr><tr><td width=150 bgcolor='#000066' valign='top' height='100%'>
<table border='0' cellpadding='0' cellspacing='0'>{nav}</table><br>
{mail}<br>
{petition}<br>
{forum} <br>
{chat}
</td><td rowspan=2 valign='top' width='100%'>
<!--!footer-->
</td></tr><tr><td width=150 bgcolor='#330000' valign='top'>
{stats}
{paypal}
</td></tr><tr><td colspan=2 bgcolor='#330000' align='center'>

	<table border='0' cellpadding='0' cellspacing='0' width='100%' class='noborder'><tr><td class='noborder'>{copyright}{pagegen}<br/>{version}
	</td><td align='right' class='noborder'>{source}{petition}</td></tr></table>
	</td></tr></table></body></html>
<!--!statstart--><table cellpadding=2 cellspacing=0 class='charinfo' width='150'>
<!--!stathead--><tr><td class='charhead' colspan='2'><b>{title}</b></td></tr>
<!--!statrow--><tr><td class='charinfo'><b>{title}</b></td><td class='charinfo'>`^{value}</td></tr>
<!--!statbuff--><tr><td class='charinfo' colspan='2'><b>{title}:</b>`n{value}</td></tr>
<!--!statend--></table>
<!--!navhead--><tr><td><span class="navhead">&#151;{title}&#151;<br></span></td></tr>
<!--!navhelp--><tr><td><span class="navhelp">{text}<br></span></td></tr>
<!--!navitem--><tr><td><a href="{link}"{accesskey}class='nav' {popup}>{text}</a></td></tr>
<!--!login-->
<table width='212' height='234' border='0' cellpadding='0' cellspacing='0' background='images/logindragon.gif' class='noborder'>
	<tr>
		<td valign='bottom' align='center' class='noborder'>
			{username}: <br><input name='name' accesskey='u' size='10'><br>
			{password}:<br><input name='password' accesskey='p' type='password' size='10'><br>
			<input type='submit' value='{button}' class='button'><br>
			<img src='images/trans.gif' width='1' height='37' align='absmiddle' alt=''>
			<img src='images/trans.gif' width='1' height='15'>
		</td>
	</tr>
</table>
