<!--!header--><!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//DE">
<html>
<head>
<title>{title}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="templates/cupertino.css" rel="stylesheet" type="text/css">
{headscript}
{script}</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="headrow">
    <td>&nbsp;</td>
    <td colspan="3"><table border="0" cellpadding="5" cellspacing="0" class="tab" height="32">
      <tr align="center">
        <td width="88" valign="bottom"><b>{motd}</b>&nbsp;</td>
        <td width="88" valign="bottom"><b>{mail}</b>&nbsp;</td>
        <td width="88" valign="bottom"><b>{petition}</b>&nbsp;</td>
        <td width="88" valign="bottom"><b>{forum}</b></td>
        <td width="88" valign="bottom"><b>{chat}</b></td>
        <td width="88" valign="bottom"><b>&nbsp;</b></td>
        <td width="88" valign="bottom"><b>{source}</b></td>
      </tr>
    </table>
    </td>
    <td>&nbsp;</td>
  </tr>
  <tr class="bartop">
    <td>&nbsp;</td>
    <td colspan="3" align="center">{title}</td>
    <td>&nbsp;</td>
  </tr>
  <tr class="barbottom">
    <td colspan="5"><img src="images/trans.gif" width="1" height="5"></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td width="135" valign="top" bgcolor="#ECECEC">{nav}</td>
    <td width="450" valign="top"><table border="0" cellpadding="7" cellspacing="0"><tr><td><table align='right' border='0'><tr><td>{paypal}</td></tr></table>
<!--!footer-->
		</td></tr></table></td>
    <td width="135" valign="top" bgcolor="#ECECEC">{stats}<br>
		<span class="navhead">Other</span></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="2" valign="top" bgcolor="#ECECEC">{copyright} {pagegen}</td>
    <td colspan="1" valign="top" bgcolor="#ECECEC">{version} </td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
<!--!statstart-->
<!--!stathead--><span class="navhead">{title}</span>
<!--!statrow-->`&<b>{title}</b>: `^{value}`n
<!--!statbuff--><span class="navhead">{title}</span> `^{value}
<!--!statend-->
<!--!navhead--><span class="navhead">&#151;{title}&#151;<br></span>
<!--!navhelp--><span class="navhelp">{text}<br></span>
<!--!navitem--><a href="{link}" {accesskey} class='nav' {popup}>{text}<br></a>
<!--!login-->
<table border='0' cellpadding='0' cellspacing='0' background='templates/cupertino/steel.GIF'>
	<tr>
		<td><img src="templates/cupertino/boxul.gif" width="12" height="12" alt=""></td>
		<td class="boxtop"><img src="images/trans.gif" width="1" height="1" alt=""></td>
		<td><img src="templates/cupertino/boxur.gif" width="12" height="12" alt=""></td>
	</tr><tr>
		<td class="boxleft"><img src="images/trans.gif" width="1" height="1" alt=""></td>
		<td valign='bottom' align='center' class='noborder' width="100%">
			{username}: <br><input name='name' accesskey='u' size='10'><br>
			{password}: <br><input name='password' accesskey='p' type='password' size='10'><br>
			<input type='submit' value='{button}' class='button'><br>
			<img src='images/trans.gif' width='1' height='37' align='absmiddle' alt=''>
			<img src='images/trans.gif' width='1' height='15'>
		</td>
		<td class="boxright"><img src="images/trans.gif" width="1" height="1" alt=""></td>
	</tr><tr>
	<tr>
		<td><img src="templates/cupertino/boxll.gif" width="12" height="12" alt=""></td>
		<td class="boxlower"><img src="images/trans.gif" width="1" height="1" alt=""></td>
		<td><img src="templates/cupertino/boxlr.gif" width="12" height="12" alt=""></td>
	</tr>
</table>
