<!--!header-->
<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//DE'>
<html>
<head>
<title>{title}</title>
<link href='templates/Jade.css' rel='stylesheet' type='text/css'>
{headscript}{script}
</head>
<body bgcolor='#004800' text="#CCCCCC">
<div align="right"><img src='templates/Jade/logo.jpg'><br>{motd} | {mail} | {petition} | {chat} | {forum}</div>


<div style='position:absolute; top:25px; left:40px;'>
<table border='0' cellpadding='0' cellspacing='0'>
  <tr>
   <td><img name='tlc' src='templates/Jade/tlc.gif' width='10' height='15' border='0' alt=''></td>
   <td background='templates/Jade/tm.gif'><img name='tm' src='templates/Jade/spacer.gif' width='1' height='1' border='0' alt=''></td>
   <td><img name='trc' src='templates/Jade/trc.gif' width='10' height='15' border='0' alt=''></td>
  </tr>

<tr>
    <td background='templates/Jade/tlt.gif'><img name='tlt' src='templates/Jade/spacer.gif' width='1' height='1' border='0' alt=''></td>
        <td valign='top' bgcolor='#004800'>
<span class='pagetitle'>&#149; {title}</span>
</td>
    <td background='templates/Jade/trt.gif'><img name='trt' src='templates/Jade/spacer.gif' width='1' height='1' border='0' alt=''></td>
  </tr>
  <tr>
   <td><img name='blc' src='templates/Jade/blc.gif' width='10' height='12' border='0' alt=''></td>
    <td background='templates/Jade/btm.gif'><img name='btm' src='templates/Jade/spacer.gif' width='1' height='1' border='0' alt=''></td>
   <td><img name='brc' src='templates/Jade/brc.gif' width='10' height='12' border='0' alt=''></td>
  </tr></table>
</div>



<p>

<table border='0' cellpadding='4' cellspacing='0' width='100%'>
<tr>
<td valign='top' width="182">
<table border='0' cellpadding='0' cellspacing='0'>
  <tr>
   <td><img name='tlc' src='templates/Jade/tlc.gif' width='10' height='15' border='0' alt=''></td>
   <td width='100%' background='templates/Jade/tm.gif'><img name='tm' src='templates/Jade/spacer.gif' width='1' height='1' border='0' alt=''></td>
   <td><img name='trc' src='templates/Jade/trc.gif' width='10' height='15' border='0' alt=''></td>
  </tr>

<tr>
    <td background='templates/Jade/tlt.gif'><img name='tlt' src='templates/Jade/spacer.gif' width='1' height='1' border='0' alt=''></td>
        <td valign='top' bgcolor='#004800' class='nav'>

<center> {nav} </center>

</td>
    <td background='templates/Jade/trt.gif'><img name='trt' src='templates/Jade/spacer.gif' width='1' height='1' border='0' alt=''></td>
  </tr>
  <tr>
   <td><img name='blc' src='templates/Jade/blc.gif' width='10' height='12' border='0' alt=''></td>
    <td background='templates/Jade/btm.gif'><img name='btm' src='templates/Jade/spacer.gif' width='1' height='1' border='0' alt=''></td>
   <td><img name='brc' src='templates/Jade/brc.gif' width='10' height='12' border='0' alt=''></td>
  </tr></table>

</td>
<td valign='top' width="100%">
<table border='0' cellpadding='0' cellspacing='0' width='100%'>
  <tr>
   <td><img name='tlc' src='templates/Jade/tlc.gif' width='10' height='15' border='0' alt=''></td>
   <td width='100%' background='templates/Jade/tm.gif'><img name='tm' src='templates/Jade/spacer.gif' width='1' height='1' border='0' alt=''></td>
   <td><img name='trc' src='templates/Jade/trc.gif' width='10' height='15' border='0' alt=''></td>
  </tr>

<tr>
    <td background='templates/Jade/tlt.gif'><img name='tlt' src='templates/Jade/spacer.gif' width='1' height='1' border='0' alt=''></td>
        <td valign='top' bgcolor='#004800' class='headrow'>

<div style="float: right"><table width="120" border='0' cellpadding='0' cellspacing='0'>
  <tr>
   <td><img name='tlc' src='templates/Jade/tlc.gif' width='10' height='15' border='0' alt=''></td>
   <td width='100%' background='templates/Jade/tm.gif'><img name='tm' src='templates/Jade/spacer.gif' width='1' height='1' border='0' alt=''></td>
   <td><img name='trc' src='templates/Jade/trc.gif' width='10' height='15' border='0' alt=''></td>
  </tr>

<tr>
    <td background='templates/Jade/tlt.gif'><img name='tlt' src='templates/Jade/spacer.gif' width='1' height='1' border='0' alt=''></td>
        <td valign='top' bgcolor='#004800'class='nav' align='right'>

{stats} <p>&nbsp;</p> {paypal}

</td>
    <td background='templates/Jade/trt.gif'><img name='trt' src='templates/Jade/spacer.gif' width='1' height='1' border='0' alt=''></td>
  </tr>
  <tr>
   <td><img name='blc' src='templates/Jade/blc.gif' width='10' height='12' border='0' alt=''></td>
    <td background='templates/Jade/btm.gif'><img name='btm' src='templates/Jade/spacer.gif' width='1' height='1' border='0' alt=''></td>
   <td><img name='brc' src='templates/Jade/brc.gif' width='10' height='12' border='0' alt=''></td>
  </tr></table></div>



<!--!footer-->
</td>
    <td background='templates/Jade/trt.gif'><img name='trt' src='templates/Jade/spacer.gif' width='1' height='1' border='0' alt=''></td>
  </tr>
  <tr>
   <td><img name='blc' src='templates/Jade/blc.gif' width='10' height='12' border='0' alt=''></td>
    <td background='templates/Jade/btm.gif'><img name='btm' src='templates/Jade/spacer.gif' width='1' height='1' border='0' alt=''></td>
   <td><img name='brc' src='templates/Jade/brc.gif' width='10' height='12' border='0' alt=''></td>
  </tr></table>
</td>
</tr>
</table>

<table border='0' cellpadding='0' cellspacing='0' width='100%'>
  <tr>
   <td><img name='tlc' src='templates/Jade/tlc.gif' width='10' height='15' border='0' alt=''></td>
   <td width='100%' background='templates/Jade/tm.gif'><img name='tm' src='templates/Jade/spacer.gif' width='1' height='1' border='0' alt=''></td>
   <td><img name='trc' src='templates/Jade/trc.gif' width='10' height='15' border='0' alt=''></td>
  </tr>

<tr>
    <td background='templates/Jade/tlt.gif'><img name='tlt' src='templates/Jade/spacer.gif' width='1' height='1' border='0' alt=''></td>
        <td valign='top' bgcolor='#004800'>

<table width='100%'><tr><td valign='top'> {copyright} Design: LoGD-HFS Template v1.0.2: &copy; Josh Canning 2004 of <a href='http://hfs.cjb.net/' target='_blank'>HFS</a><br> ({pagegen}) </td><td valign='top' align='right'>{source}</td></tr></table>

</td>
    <td background='templates/Jade/trt.gif'><img name='trt' src='templates/Jade/spacer.gif' width='1' height='1' border='0' alt=''></td>
  </tr>
  <tr>
   <td><img name='blc' src='templates/Jade/blc.gif' width='10' height='12' border='0' alt=''></td>
    <td background='templates/Jade/btm.gif'><img name='btm' src='templates/Jade/spacer.gif' width='1' height='1' border='0' alt=''></td>
   <td><img name='brc' src='templates/Jade/brc.gif' width='10' height='12' border='0' alt=''></td>
</tr></table>

</body>
</html>
<!--!statstart-->
<table cellpadding=2 cellspacing=0 class='charinfo' width='150'>
<!--!stathead-->
<tr><td class='charhead' colspan='2'><b>{title}</b></td></tr>
<!--!statrow-->
<tr><td class='charinfo'><b>{title}</b></td><td class='charinfo'>`^{value}</td></tr>
<!--!statbuff-->
<tr><td class='charinfo' colspan='2'><b>{title}:</b>`n
{value}</td></tr>
<!--!statend-->
</table>
<!--!navhead-->
<span class="navhead">&#151;{title}&#151;<br></span>
<!--!navhelp-->
<span class="navhelp">{text}<br></span>
<!--!navitem-->
<a href="{link}"{accesskey}class='nav' {popup}>{text}<br></a>
<!--!login-->
<table width='212' height='234' border='0' cellpadding='0' cellspacing='0' background='images/logindragon.gif' class='noborder'>
	<tr>
		<td valign='bottom' align='center' class='noborder'>
			{username}: <br><input name='name' accesskey='u' size='10'><br>
			{password}:<br><input name='password' accesskey='p' type='password' size='10'><br>
			<input type='submit' value='{button}' class='button'><br>
			<img src='images/trans.gif' width='1' height='37' align='absmiddle' alt=''>
			<img src='images/trans.gif' width='1' height='15'>
		</td>
	</tr>
</table>
